html{
    scroll-behavior: smooth;
}

.questao{
    background-color: #151730;
    border-radius: 8px;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 1em 0 2em 0;
    color: #fff;
    font-size: 1.5em;
}

.titulo-questao{
    background-color: #ff841d;
    color: #151730;
    font-family: "Musket", sans-serif;
    position: relative;
    display: block;
    padding: 0;
    width: 60%;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin-left: -1em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.titulo-questao::before{
    content: '';        
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: 25px 40px 25px 0;
    border-color: transparent #ff841d transparent transparent;  
    display: inline-block;
    vertical-align: middle;
    margin-left: -50px;    
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-right:0;
    
}

.enunciado-questao{
    text-decoration: none   ;
    /* padding-bottom:1em;     */
    font-weight: bold;
    text-align: justify;
    margin-right: 2%;    
}

.enunciado-questao p, .texto-resposta p{
    width: 95%;
    margin-bottom: 10px;
    margin-top: 20px;    
}

.enunciado-questao b{
    color:#fff;    
    /* text-shadow: 2px 2px 5px #ff841d; */
    text-shadow: 2px 2px 1px #ff841d;
}

.enunciado-questao ul{
    list-style-position: inside;
    list-style: disc;
    margin-left: 20px;
}
.enunciado-questao p.link{
    text-align: center;
    margin-top: 2em;
}

.enunciado-questao a.link-texto{
    padding: 2px 5px;   
    color: #ff841d;
    text-decoration: underline;
}

.enunciado-questao a.link-texto:hover{
    color: #151730;
    background-color: #fff;
    border-radius: 4px;    
}

.enunciado-questao p.link a{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
}

.enunciado-questao p.link a:hover{
    background-color: #ff841d;
}

.area-respostas{    
    margin: 0;    
    position: relative;
}

.linha-respostas{    
    padding: 20px 0 0 0;  
    width: 100%;  
}

.linha-branca{
    width: 95%;
    border: 2px solid #151730;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 0;
    /* background-color: #2a5caa;   */
    z-index: 22;  
}


.linha-branca .texto-resposta{
    width: 130px;
    text-align: center;  
    z-index: 22;      
}

.linha-branca:hover{
    border: 2px solid #fff;
    z-index: 22;
}

.categorias{    
    width: 95%;    
}

.categorias .texto-resposta{
    width: 100%;
}
.categorias .texto-opcao{
    /* border: 2px dashed #fff; */
    text-decoration: underline;
    text-align: left;    
    border-radius: 5px;
    padding: 2px;
    margin: 5px 0;
    display: inline-block; 
    transition: 0.3s;        
}

.referencias-categorias, .area-categorias{
    width: 95%;
    padding-left: 140px;      
}

.linha-inputs{
    padding-left: 140px;
    width: 95%;
    height: 20px;
    margin-top: -40px;    

}

.area-categorias, .linha-inputs{
    position: absolute;
}
.referencias-categorias .texto-resposta, .area-categorias .texto-resposta, .linha-inputs .texto-resposta{
    width: 100%;
    padding: 0;
}

.referencias-categorias .texto-opcao, .input-categorias{    
    margin-right: 0;
    margin-top: -20px;
    position: absolute;             
}

.input-categorias{
    
    width: 10px;
    margin-top: -30px;      
    line-height: 10px;
}

.input-categorias input{
    margin-left: -4px;
    transform: scale(1.5);
    color: #151730;
}

.resposta-marcada{
    background-color: #ff841d;
    color: #151730;
    font-weight: bold;
}

.area-categorias .texto-cat{
    content: "";
    /* border: 2px dashed #fff; */
    position: absolute;
    height: 1370px;
    margin-top: -55px;
    margin-right: -5px;
    width: 20px;  
    border-radius: 5px;  
    z-index: 1;
    transition: 0.3s;
}

/* .area-categorias .texto-cat:hover{ */
.cat-hover{
    background-color: rgba(42, 92, 170, 0.5);
    
    transition: 0.3s;   
    z-index: 1;             
}

.referencias-categorias .cat1, .area-categorias .cat1, .linha-inputs .cat1{
    right: 85%;
}
.referencias-categorias .cat2, .area-categorias .cat2, .linha-inputs .cat2{
    right: 65%;
}
.referencias-categorias .cat3, .area-categorias .cat3, .linha-inputs .cat3{
    right: 45%;
}
.referencias-categorias .cat4, .area-categorias .cat4, .linha-inputs .cat4{
    right: 25%;
}
.referencias-categorias .cat5, .area-categorias .cat5, .linha-inputs .cat5{
    right: 5%;
}

.texto-resposta{    
    position: relative;
    width: 50%;
    font-size: 0.8em;    
    margin-left: 0;
    margin-right: 2%;
    display: inline-block;
    text-align: justify;   
}

.texto-resposta-maior{    
    position: relative;
    width: 65%;
    font-size: 0.8em;    
    margin-left: 0;
    margin-right: 2%;
    display: inline-block;
    text-align: justify;   
}

.texto-opcao b{
    color: #fff;
    font-weight: bold;
}
.linha-grande {
    width: 95%;
    margin-right: 0;
}

.linha-menor{
    width: 40%;
}

.area-inputs span.palavra-resposta{
    background-color: #ff841d;
    font-weight: bold;    
}

.legenda-input{
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin-right: -10px;
    margin-left: 10px;
    margin-top: 0;          
    
}

.area-inputs, .area-opcoes, .caixa-box{
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;      
    width: 160px;    
    margin: 5px;
    padding: 1px;
    border: 2px dashed #fff ;    
}

.area-opcoes-menor, .area-inputs-menor, .caixa-box-menor{
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;      
    width: 25%;    
    margin: 5px;
    padding: 1px;
    border: 2px dashed #fff ;   
}

.caixa-drop_1_1{
    height: 50px;    
}

.caixa-drop-alta{
    height: 80px;
}

.caixa-drop_1_2{
    height: 70px;
}

.caixa-drop_2_1{
    height: 80px;
    line-height: 100%;    
}

.caixa-drop_2_2{    
    width: 95%; 
    min-height: 40px;   
}

.caixa-drop_2_3{
    width: 47.5%;
    margin-left: 0;    
    margin-right: 0;
    border-radius: 0;
    min-height: 50px;
}

.caixa-drop_2_3b{
    width: 47.5%;
    margin-left: 0;    
    margin-right: 0;
    border-radius: 0;
    min-height: 50px;
    border: 2px solid #fff;
}

.caixa-drop_2_3b .input-texto{
    width: 100%;
    min-height: 45px;   
    font-size: 0.8em;
    background-color: #ff841d;
    border: 2px solid #151730;
    outline: none;
}

.caixa-drop_2_3b .input-texto:focus{
    outline: none;
    border: 2px solid #ff841d;    
}

.caixa-drop_2_3b .input-texto:placeholder-shown{
    background-color: #fff;
}

.coluna-1, .coluna-2{
    width: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

.coluna-1{
    float: left;
}
.coluna-2{
    float: right;
}

.caixa-drop_2_3b .campo-inativo:placeholder-shown{
    background-color: #777;        
}
.caixa-drop_2_3b .campo-inativo:focus{
    border: 2px solid #777;    
}

.caixa-drop_5_1{
    height: 80px;
}

.caixa-drop_5_2{    
    margin: 0;
    width: 180px;
    font-size: 90%;
}

.caixa-drop_5_3{
    height: 70px;
    width: 200px;
}

.caixa-drop-grande{    
    padding: 10px;  
    width: 70%;       
}

/**
Caixas de Select - Uni2 questão 3
**/

.caixa-box{    
    border: none;
}

.caixa-box select{        
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    font-size: 0.8em; 
    cursor: pointer;   
}

.caixa-box select option{
    text-align: center;   
    cursor: pointer; 
}

.caixa-box select.select-respondido{
    background-color: #ff841d;
    color: #151730;
    font-weight: bold;
}
.caixa-box select.select-respondido option, .caixa-box select option{
    background-color: #ff841d;
    color: #fff;
    cursor: pointer;
}

.caixa-box select.select-respondido option:not(:checked), .caixa-box select option:not(:checked){
    background-color: #fff;
    color: #ff841d;
}


.caixa-box select option:hover{
    background-color: white;
}

/*** Select múltiplo - u2q2 **/

.select-multiplo{
    width: 80%;
    padding: 2px;
    text-align: center;    
    border-radius: 10px;
    margin: auto;    
    overflow: hidden;
    cursor: pointer;
}

.select-multiplo option{
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px;
    color:#151730;
    border-radius: 10px;
    border: 2px solid #fff;
}

.select-multiplo option:hover{
    border-color: #151730;
    cursor: pointer;
}

.select-multiplo option:checked{
    background: #ff841d linear-gradient(0deg, #ff841d 0%, #ff841d 100%);    
}


.legenda-resposta{
    color:#ff841d;
    margin-bottom: 0;
    margin-top: 1em;
}

.palavra-drag{    
    background-color: #ff841d;
    border-radius: 8px;
} 

.grupo-respostas{
    border: 3px dashed #fff;
    border-radius: 10px;
    padding: 10px;
    width: 95%;            
    display: flex;    
    justify-content: center;
}


 .grupo-respostas .list-group-item.cheio, .area-inputs span.palavra-resposta{    
    height: 100%;
    display: inline-block;
    background-color: white;
    color: #151730;
    border-radius: 8px;        
    text-align: center;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;       
    font-size: 0.8em;
    cursor: move;        
}

.area-inputs span.palavra-resposta{
    background-color: #ff841d;
    width: 100%;    
    margin:0;
}

.area-inputs .vazio{
    /* background-color: transparent; */
    min-width: 100px;
    min-height: 60px;
}

 

.texto-legenda{
    /* display: none;  */
    opacity: 0;
    display:none;
    border-radius: 8px;
    padding: 5px;    
    position: fixed;
    background-color: #fff;
    border: 2px solid #151730;
    color: #151730;
    bottom: 5%;
    left: 15%;    
    margin-right: 25%;    
    width: 70%;
    text-align: center;
    transition: 0.3s;
    z-index: 99; 
}

.area-radios{
    display: inline-block;
    width: 35%;
    margin-left: 0;
    vertical-align: top;
}

.area-radios.linha-grande{
    width: 95%;
}

.area-radios input {
    position: absolute;    
    opacity: 0;
}

.area-radios input + label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 10px;
    border: 2px solid transparent;
    border-radius: 1em;
    display: inline-block;
}

.area-radios input[type=radio] + label::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px #fff;
    vertical-align: middle;
}

.area-radios input:hover + label:hover{
    border: 2px solid #fff;
}

.area-radios input[type=radio]:checked + label::after {
    content: '';
    background-color: #151730;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    left: 9px;
    top: 11px;
}
.area-radios input[type=radio]:checked + label::before{
    content: '';
    position: absolute;
    left: 5px;
    top: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px #151730;
    vertical-align: middle;
}

.area-radios input[type=radio]:checked + label{
    background-color: #ff841d;
    color: #151730;
    font-weight: bold;
}

/** Input de rádio para respostas de única escolha **/

.opcao-resposta {
    width: 95%;
}
.opcao-resposta input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.opcao-resposta input + label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 10px;
    border: 2px solid transparent;
    border-radius: 1em;
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 10px;
    text-align: justify;
}

.opcao-resposta input[type=radio] + label::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px #fff;
    vertical-align: middle;
}

.opcao-resposta input:hover + label:hover{
    border: 2px solid #fff;
}

.opcao-resposta input[type=radio]:checked + label::after {
    content: '';
    background-color: #151730;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: 8px;
}
.opcao-resposta input[type=radio]:checked + label::before{
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px #151730;
    vertical-align: middle;
}

.opcao-resposta input[type=radio]:checked + label{
    background-color: #ff841d;
    color: #151730;
    font-weight: bold;
    display: inline-block;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #151730;
  border-radius: 10px;
  vertical-align: top;
  display: inline-block;
}

.grade-palavras{
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: auto;        
    margin-right: auto;
    margin-top: 10px;
    padding: 8px;
    width: 95%;
    background-color: #fff;
}

.texto-palavra{
    display: inline-block;
}

.texto-palavra input + label{
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #151730;
    border-radius: 10px;
    vertical-align: top;
    display: inline;
    font-size: 0.8em;
}

input[type="checkbox"]:hover + label{
    border: 2px solid #fff;
}

.texto-palavra input:hover +label{
    border: 2px solid #151730;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    border: solid 2px;
    top: 10px;
    left: 10px;
    margin-right: 20px;    
}

.texto-palavra input +label::before{
    display: none;
}

  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left:20px;
    top: 0;
    width: 10px;
    height: 20px;
    border-right: solid 3px #2a5caa;
    border-bottom: solid 3px #2a5caa;
    transform: rotate(45deg);
}

.texto-palavra input:checked + label::after{
    display: none;
}

input[type="checkbox"]:checked + label{
    background-color: #ff841d;
    color: #151730;
    font-weight: bold;
}


.botao-atividade button{
    background:#266866;
    color:#ffffff;
    padding: 1em;
    border: 0;
    border-radius: 8px;
    border: 2px solid #266866;
    font-size: 1em;
    font-family: "Musket";
    outline: none;
    letter-spacing: 0.2em; 
    transition: 0.3s; 
}

.resposta-texto{
    width: 95%;
    margin: auto;
    height: 200px;
    padding: 0.5em;
    color: #151730;
    font-size: 1em;
    border-radius:8px;    
}

.resposta-texto:focus{
    outline: none;
    border: 2px solid #ff841d;
}

.botao-atividade button:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: #fec13b;
    color: #266866;    
    border-color: #266866;
    transition: 0.3s; 
}

.mensagem-alerta{
    display: none;
    background-color: #ff841d;
    color: #151730;
    border: 2px solid #151730;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.4em;
}

.mensagem-ok{
    display: none;
    background-color: #ff841d;
    color: #151730;
    border: 4px solid #151730;
    border-radius: 0.5em;
    padding: 1em;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

.mensagem-ok a{
    background:#fff;
    color: #2a5caa;
    padding: 0.5em;
    margin-top: 200px;
    border: 1px solid #fff;
    border-radius: 8px;    
    font-family: "Affogato-Regular";
    letter-spacing: 0.2em;
    font-size: 1em;
    outline: none;    
    text-decoration: none;
}

.mensagem-ok a:hover{
    background-color: #2a5caa;
    color: #fff;
}


.area-respostas .resposta-salva{
    background-color: #ccc;
    color: #000;
    border-radius: 8px;
    padding: 20px;
}

.texto-alternativo-1{
    display: inline;
}
.texto-alternativo-2{
    display: none;
}

.resposta-correta{
    font-size: 0.8em;
    background-color: rgba(42, 92, 170, 0.5);
    width: 95%;
    margin:0;
    padding: 0.5em;
    border-radius: 8px;
}

.resposta-correta span{
    color:#ff841d;    
}

.atividades{	
    color: #151730;
    background-color: #ff841d;    	    
    border: 2px solid;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
}

.botao-mensagem{
    border-color: #151730;
    background-color:#ff841d;
    color:#151730;
    border: 2px solid;
    border-radius: 8px;
    padding:10px;
    margin: 10px;
}
.botao-mensagem:hover{
    background-color: #151730;
    color:#ff841d;
}

@media screen and (max-width: 1000px) {
    .texto-alternativo-1{
        display: none;
    }
    .texto-alternativo-2{
        display: inline;
    }
}

@media screen and (max-width: 680px) {
	.texto-resposta, .texto-resposta-maior{
        width: 90%;
        margin-right: 0;
    }

    .area-inputs, .area-opcoes, .caixa-box, .area-inputs-menor, .area-opcoes-menor, .caixa-box-menor{
        display: block;
        margin-left: 20px;
        width: 50%;
    }

    .caixa-drop_5_2, .caixa-drop_5_3{
        display: inline-block;        
    }
    .caixa-drop_5_3{
        font-size: 80%;
        width: 120px;
    }

    .legenda-input{
        display: block;        
        width: 20px;
        margin-bottom: -50px;
        margin-left: -10px;
    }

    .caixa-drop_2_2{
        width: 90%;
        margin-left: 0;
    }

    .coluna-1, .coluna-2{
        display: block;        
        width: 100%;
        margin-left: 0;
        float: left;
    }

    .coluna-2{
        margin-top: 0;
        margin-bottom: 1em;
    }
    .caixa-drop_2_3{
        width: 90%;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 1em;
    }

    .caixa-drop_2_3b{
        margin-top: 0;
        width: 90%;
        margin-left: 0;
        font-size: 0.9em;
    }
}

