.caixa {
    width: 500x;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin: auto;
    position: relative;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.balaovermelho {
    width: 400px;
    height: 400px;
    background-color: red;    
    position: relative;
    right: 100%;    
    transition: right 1s;
    border-radius: 50%;    
}

.balaovermelho p {
    text-align: center;
    margin-top: 20%;
    padding: 10%;
    color: white;    
}

.caixa:hover .balaovermelho {
    right: 0%;
}