.imagem .imagem-ampla {
	width: 100%;
	height: 100%;
	padding: auto;
	margin: auto;
}

.material-complementar .texto{
	position: absolute;
	top: 25%;
	left: 30%;
	width: 45%;
	vertical-align: middle;

}

.material-complementar .texto{
	text-align: center;
}
.material-complementar .texto span a{
	font-weight: 800;
	font-size: 2em;
	color: #fff;
}

.material-complementar .texto span a:hover{
	background-color: #fff;
	color: #e73435;
	text-decoration:underline;
}

@media screen and (max-width: 720px) {
	.material-complementar .texto span a{
		font-size: 1.4em;
	}
}

@media screen and (max-width: 540px) {
	.material-complementar .texto{
		font-size: 1em;
		line-height: 120%;
	}
}

@media screen and (max-width: 420px) {
	.material-complementar .texto{
		font-size: 0.7em;
	}
}

.fique-por-dentro, .material-complementar, .box-atencao, .box-para-refletir{
	position: relative;
}

.material-complementar img{
	width: 80%;
	height: 80%;
	margin: auto;
	border: 1px solid white;
	display:block;
}

.fique-por-dentro img{
	width: 100%;
	height: 100%;
	margin-left: auto;
	border: 1px solid white;
	display:block;
}

.fique-por-dentro .texto{
	position: absolute;
	top: 0;
	width: 65%;
	margin-top: 10%;
	margin-left: 10%;
}

.fique-por-dentro .texto span{
	font-weight: 900;
	font-size: 1.4em;
}

@media screen and (max-width: 1410px) {
	.fique-por-dentro .texto span{
		font-weight: 800;
		font-size: 1.2em;
	}
}

@media screen and (max-width: 1036px) {
	.fique-por-dentro .texto span{
		line-height: 1.2em;

	}
}

@media screen and (max-width: 800px) {
	.fique-por-dentro .texto span{
		font-size: 1.1em;
		line-height: 1em;
	}
}

@media screen and (max-width: 660px) {
	.fique-por-dentro .texto span{
		font-weight: 600;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 585px) {
	.fique-por-dentro{
		margin-bottom: 30%;
	}
	.fique-por-dentro .imagem-fundo img{
		width: 125%;
		height: 120%;
		margin-left: -10%;
		display: block;
	}
	.fique-por-dentro .texto {
		display: block;
		position: relative;
		background-color: #fec13b;
		width: 88%;
		margin-left: 1%;
		margin-top: -58%;
		/* border: 4px solid #2a5caa; */
		padding: 2%;
		border-radius: 0.5em;
	}
}

.video-uni2 img, .video-uni1 img{
	width: 130%;
	position: relative;
	margin-left: -15%;
	display: inline-block;
}

.video-uni2 .titulo-video span{
	font-family: "Musket-Bold";
	font-size: 1.8em;
}

.video-uni1 .titulo-video span{
	font-family: "Musket-Bold";
	font-size: 1.4em;
}

.video-uni2 .titulo-video, .video-uni1 .titulo-video{
	position: relative;
	margin-bottom: -10%;
	margin-top: 10%;
	z-index: 2;
	text-align: center;
	width: 100%;
	color: #fff;
	text-shadow: 0px 0px 5px black;
}

@media screen and (max-width:460px){
	.video-uni2 .titulo-video span{
		font-size: 1.2em;
	}
}

@media screen and (max-width:560px){
	.video-uni1 .titulo-video{
		margin-bottom: 0%;
		margin-top: 10%;
	}
	.video-uni1 .titulo-video span{
		text-shadow: none;
	}

	.bg-video{
		padding: 50px 5px;
		margin-right: -2rem;
		margin-left: -2rem;
	}
}

.video-uni2 .video-player, .video-uni1 .video-player {
	width: 80%;
	/* height: 90%;	 */
	margin-top: -55%;
	position: relative;
	margin-left: 12%;
	border: 4px solid #fff;
}


h3.texto-central{
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	background-color: #2a5caa;
	border-radius: 1em;
	width: auto;
	padding: 1em;
	font-family: "Musket-Bold";
}

h3.texto-central b{
	color: #2a5caa;
	display: none;
}

h3.texto-central b{
	color: #fff;
	font-size: 2em;
	display: block;
	transition: color .5s ;
}

.box-atencao  img, .box-para-refletir img{
	width: 80%;
	margin: auto;
	display: block;
}

.box-atencao .texto{
	position: absolute;
	color: #fff;
	top: 23%;
	left: 28%;
	width: 54%;
	vertical-align: middle;
	text-align: justify;
	font-size: 1.4em;
}

@media screen and (max-width: 1440px){
	.box-atencao .texto{
		font-size: 1.2em;
	}
}

@media screen and (max-width: 1060px){
	.box-atencao .texto{
		font-size: 1em;
	}
}


.box-para-refletir .texto{
	position: absolute;
	color: #fff;
	top: 25%;
	left: 30%;
	width: 52%;
	vertical-align: middle;
	text-align: justify;
	font-size: 1.4em;
}

@media screen and (max-width: 1510px){
	.box-para-refletir .texto{
		font-size: 1.2em;
	}
}

@media screen and (max-width: 1360px){
	.box-para-refletir .texto{
		font-size: 1em;
	}
}

@media screen and (max-width: 670px){
	.box-para-refletir .texto{
		line-height: 1.4em;
	}
}



@media screen and (max-width: 630px){
	.box-atencao img{
		width: 120%;
		margin-left: -10%;
	}
	.box-atencao .texto{
		width: 80%;
		margin-left: -10%;
	}

	.box-para-refletir img{
		width: 120%;
		margin-left: -10%;
	}
	.box-para-refletir .texto{
		width: 75%;
		margin-left: -10%;
	}
}


@media screen and (max-width: 475px){

	.box-para-refletir .texto{
		display: block;
		position: relative;
		background-color: #2a5caa;
		width: 90%;
		margin-left: -18%;
		margin-top: -49%;
		border: 4px solid #fec13b;
		padding: 2%;
		border-radius: 0.5em;
	}

	.box-atencao .texto{
		display: block;
		position: relative;
		background-color: #e73435;
		width: 95%;
		margin-left: -18%;
		margin-top: -52%;
		margin-bottom: 10%;
		border: 4px solid #2a5caa;
		padding: 2%;
		border-radius: 0.5em;
	}
}

	.bg-video .video-player {
		width: 100% !important;
		/* height: 90%;	 */
		margin-top: 0;
		position: relative;
		margin-left: 0;
		border: 6px solid #fff;
		background-color: #fff;
	}

	.bg-video .titulo-video {
		position: relative;
		margin-bottom: 15px;
		margin-top: 0;
		z-index: 2;
		text-align: center;
		width: 100%;
		color: #fff;
		text-shadow: 0px 0px 5px black;
	}
