/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*    font-family: "Montserrat", sans-serif;*/
/*}*/

.cards,
.cards-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 100%; /*420px */
    height: 350px;
    margin: 1em;
    perspective: 1500px;
}
.card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.card .more {
    display: none;
}
.card .more:checked ~ .content {
    transform: rotateY(180deg);
}

.card .content .front,
.card .content .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;

    transform-style: preserve-3d;
    border-radius: 6px;
}
.card .content .front .inner,
.card .content .back .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
}

/* para funcionar em outros navegadores */
.card .content .front .inner,
.card .content .back .inner {
    z-index: 9;
    position: relative;
}

.card .content .front {
    background-color: #020e36;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/uni1/bg_card.png);
}
.card .content .front:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
    background: linear-gradient(40deg, rgba(2, 14, 54, 0.8), rgba(42, 92, 170, 0.9));
}

.cards .yellow .front:after {
    background: linear-gradient(40deg, rgba(2, 14, 54, 0.8), rgba(254, 193, 59, 0.9));
}

.cards .red .front:after {
    background: linear-gradient(40deg, rgba(2, 14, 54, 0.8), rgba(255, 83, 85, 0.9));
}

.cards .green .front:after {
    background: linear-gradient(40deg, rgba(2, 14, 54, 0.8), rgba(45, 181, 185, 0.9));
}

.cards .orange .front:after {
    background: linear-gradient(40deg, rgba(2, 14, 54, 0.8), rgba(255, 132, 29, 0.9));
}

.cards-img .front:after {
    background: linear-gradient(40deg, rgba(42, 92, 170, 0.2), rgba(2, 14, 54, 0.1));
}

.cards-img .yellow .front:after {
    background: linear-gradient(40deg, rgba(254, 193, 59, 0.4), rgba(2, 14, 54, 0.1));
}

.cards-img .red .front:after {
    background: linear-gradient(40deg, rgba(255, 83, 85, 0.4), rgba(2, 14, 54, 0.1));
}

.cards-img .green .front:after {
    background: linear-gradient(40deg, rgba(45, 181, 185, 0.4), rgba(2, 14, 54, 0.1));
}

.cards-img .orange .front:after {
    background: linear-gradient(40deg, rgba(255, 132, 29, 0.4), rgba(2, 14, 54, 0.1));
}

.cards-img .blue .front:after {
    background: linear-gradient(40deg, rgba(42, 92, 170, 0.4), rgba(2, 14, 54, 0.1));
}

.cards-img .front:hover:after {
    background: linear-gradient(40deg, rgba(42, 92, 170, 0.0), rgba(2, 14, 54, 0.0))
}

.card .content .front .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
}
.card .content .front h2 {
    grid-row: 2;
    margin-bottom: 0.3em;
    /*text-transform: uppercase;*/
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.card .content .front .rating {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
}
.card .content .front .rating i {
    margin: 0 1px;
}

.card .content .back {
    transform: rotateY(180deg);
    background-color: #020e36;
    color: #fff;
    border: 2px solid #f0f0f0;
}
.card .content .back .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
}
.card .content .back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: #355cc9;
    grid-row: 3;
}
.card .content .back .info:not(:first-of-type):before {
    content: "";
    position: absolute;
    left: -0.9em;
    height: 18px;
    width: 1px;
    background-color: #ccc;
}
.card .content .back .info span {
    font-size: 2em;
    font-weight: 700;
}
.card .content .back .info i {
    font-size: 1.2em;
}
.card .content .back .info i:before {
    background: linear-gradient(40deg, #355cc9, #438af3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.card .content .back .info .icon {
    margin-left: 0.3em;
}
.card .content .back .info .icon span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
}
.card .content .back .description {
    /*grid-row: 5;*/
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column: 1/-1;
    font-size: 0.86em;
    /*border-radius: 5px;*/
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    /*color: #2a5caa;*/
    padding-right: 10px;
    padding-top: 10px;
}

.card.yellow .back .description {
    border-top: #fec13b 4px solid;
}
.card.blue .back .description {
    border-top: #2a5caa 4px solid;
}
.card.red .back .description {
    border-top: #ff5355 4px solid;
}
.card.orange .back .description {
    border-top: #ff841d 4px solid;
}
.card.green .back .description {
    border-top: #2db5b9 4px solid;
}

/* Negrito */
.card .back .description b {
    color: #fff;
    /*text-shadow: 0 0 #fff;*/
}
.card.yellow .back .description b {
    color: #fec13b;
}
.card.blue .back .description b {
    color: #2a5caa;
}
.card.red .back .description b {
    color: #ff5355;
}
.card.orange .back .description b {
    color: #ff841d;
}
.card.green .back .description b {
    color: #2db5b9;
}

.card .content .back .location,
.card .content .back .price {
    font-weight: 600;
    color: #fff;
    grid-row: 6;
    font-size: 0.86em;
}
.card .content .back .location {
    grid-column: 1/-1;
    justify-self: left;
}
.card .content .back .price {
    grid-column: 3/-1;
    justify-self: right;
}
.card .content .back .button {
    grid-column: 1/-1;
    justify-self: center;
    padding: 0 1.5em;
}

.card .button {
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    /*padding: 0 1.5em;*/
    padding: 0 15px;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.cards-img .back .button.return {
    background-color: transparent;
    color: #fff;
}

.cards-img .yellow .button {
    background-color: rgba(254, 193, 59, 0.5);
}

.card.yellow .button.return:hover,
.cards-img .yellow .button:hover {
    background-color: rgba(254, 193, 59, 1);
    color: #fff;
}

.cards-img .red .button {
    background-color: rgba(255, 83, 85, 0.5);
}

.card.red .button.return:hover,
.cards-img .red .button:hover {
    background-color: rgba(255, 83, 85, 1);
    color: #fff;
}

.cards-img .green .button {
    background-color: rgba(45, 181, 185, 0.5);
}

.card.green .button.return:hover,
.cards-img .green .button:hover {
    background-color: rgba(45, 181, 185, 1);
    color: #fff;
}

.cards-img .orange .button {
    background-color: rgba(255, 132, 29, 0.5);
}

.card.orange .button.return:hover,
.cards-img .orange .button:hover {
    background-color: rgba(255, 132, 29, 1);
    color: #fff;
}

.cards-img .blue .button {
    background-color: rgba(42, 92, 170, 0.5);
}

.card.blue .button.return:hover,
.cards-img .blue .button:hover {
    background-color: rgba(42, 92, 170, 1);
    color: #fff;
}


.card .button:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: #2a5caa;
}
.card .button.return {
    line-height: 3em;
    /*color: #2a5caa;*/
    /*border-color: #2a5caa;*/
    color: #fff;
    border-color: #fff;
    text-shadow: none;
}
.card .button.return:hover {
    background-color: #2a5caa;
    color: #fff;
    border-color: #020e36;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #859ddf;
}

::-webkit-scrollbar-thumb:hover {
    background: #355cc9;
}


.card.big {
    height: 450px;
}

.card.big .back .description p {
    font-size: 17px;
    line-height: 22px;
}

/* ----------------------------- Post-it ----------------------------- */
.post-it .card .front:after,
.post-it .card .content .front,
.post-it .card .back:after,
.post-it .card .content .back {
    border-radius: 0px;
    background-color: #fff;
}

.post-it .card .content .front .inner,
.post-it .card .content .back .inner{
    padding: 0;
}

.post-it .card .content .back{
    border: 0px;
}

.post-it .card .content .back .inner .card-top,
.post-it .card .content .front .inner .card-top{
    height: 60px;
    width: 100%;
}

.post-it .card .back .description{
    border-top-width: 50px;
    grid-row-start: 1;
}

.post-it .card .back .description p {
    padding: 0 1.5em;
    color: #020E36;
}


.post-it .back .description b {
    text-shadow: 1px 1px 2px black;
    color: #fff !important;
}

.post-it .card .content .front .inner .card-bottom{
    height: 51px;
    width: 100%;
    background-image: url(../img/padrao/post-it-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    bottom: -2px;
    right: -3px;
}

.post-it .card .back .button{
    grid-row: 6;
    background-color: rgba(2, 14, 54, 0.8);
}

.post-it .card .front .button {
    grid-row: 4;
}
.post-it .card .front .button:hover {
    background-color: rgba(2, 14, 54, 0.8);
}

.post-it .card .content .front h2 {
    margin-top: -60px;
    padding: 1.5em;
    text-shadow: 1px 1px 2px black;
}

.post-it .yellow .content .back .inner .card-top,
.post-it .yellow .content .front .inner .card-top{
    background-color: rgba(254, 193, 59, 1);
}

.post-it .yellow .back,
.post-it .yellow .front:after {
    background: linear-gradient(40deg, rgba(254, 193, 59, 0.4), rgba(254, 193, 59, 0.8));
}


.post-it .red .back,
.post-it .red .front:after {
    background: linear-gradient(40deg, rgba(255, 83, 85, 0.4), rgba(255, 83, 85, 0.8));
}

.post-it .red .content .front .inner .card-top{
    background-color: rgba(255, 83, 85, 1);
}

.post-it .green .back,
.post-it .green .front:after {
    background: linear-gradient(40deg, rgba(45, 181, 185, 0.4), rgba(45, 181, 185, 0.8));
}

.post-it .green .content .front .inner .card-top{
    background-color: rgba(45, 181, 185, 1);
}

.post-it .orange .back,
.post-it .orange .front:after {
    background: linear-gradient(40deg, rgba(255, 132, 29, 0.4), rgba(255, 132, 29, 0.8));
}

.post-it .orange .content .front .inner .card-top{
    background-color: rgba(255, 132, 29, 1);
}

.post-it .blue .back,
.post-it .blue .front:after {
    background: linear-gradient(40deg, rgba(42, 92, 170, 0.4), rgba(42, 92, 170, 0.8));
}

.post-it .blue .content .front .inner .card-top{
    background-color: rgba(42, 92, 170, 1);
}