.fique-por-dentro {	
    width: 100%;
    height: 160%;
    margin-left: auto;		
    border: 1px solid white;
    background-image: url(../img/uni2/MOOC1_Uni2_tela5_imagem5.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center center;		
    display:block;	
}

.fique-por-dentro p{
    font-size: 1.2em;
    margin: 180px 150px 100px 140px;
}