@font-face {
    font-family: 'Affogato-Regular';
    src: url('../fonts/Affogato-Regular.eot');
    src: url('../fonts/Affogato-Regular.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/Affogato-Regular.woff') format('woff'),
         url('../fonts/Affogato-Regular.woff2') format('woff2'),
         url('../fonts/Affogato-Regular.ttf')  format('truetype'),
         url('../fonts/Affogato-Regular.svg') format('svg');
}

@font-face {
    font-family: 'Musket-Bold';
    src:url('../fonts/Musket-Bold.ttf.woff') format('woff'),
        url('../fonts/Musket-Bold.ttf.svg#Musket-Bold') format('svg'),
        url('../fonts/Musket-Bold.ttf.eot'),
        url('../fonts/Musket-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: bold;
    font-style: bold;
}

@font-face{
    font-family: 'Musket';    
    src:url('../fonts/Musket.ttf.woff') format('woff'),
        url('../fonts/Musket.ttf.svg#Musket') format('svg'),
        url('../fonts/Musket.ttf.eot'),
        url('../fonts/Musket.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.content .caixa-texto-topo p, .content .caixa-texto-rodape p{
    font-size: 1.4em;
}

body{
    font-family: "Affogato-Regular" !important;
}

body h2{
    font-family: "Musket-bold";
}
.inner p, .special a{
    font-family: "Affogato-Regular"; 
    font-size: 20px;   
    line-height: 28px;
}

.logo a{
    font-family: "Affogato-Regular";
    font-size: 35px;
}
