:root{
    --tamanho: 20px;
}


@media screen and (max-width: 800px){
    :root{
        --tamanho: 16px;
    }
}





.infografico{
    position: relative;
    width: 100%;
    z-index: 0;
    background-color: #2b5ca9;
    background-image: url(../img/padrao/bg_slide_01.jpg);
    background-size: cover;
    padding: 5%;
    /* min-width: 500px; */
}

.infografico .titulo-bola{
    background-color: #fdc13c;
    text-align: center;
    padding: 1em;
    z-index: 5;
}

.infografico .titulo-bola:hover{
    background-color: #d5ae53;
}

.infografico .titulo-bola span{
    position: relative;
    font-family: "Musket";
    color: #fff;
    width: 90%;
    height: 90%;
    /* font-size: 1.2em; */
    font-size: var(--tamanho);
    margin-left: 5%;
    margin-right: 5%;
    z-index: 10;
}

.infografico .titulo-bola.bola1, .infografico .titulo-bola.titulo-bola.bola1 .titulo-borda{
    position: relative;
    width: calc(var(--tamanho)*10);
    height: calc(var(--tamanho)*10);
    border-radius: 50%;
    top: 5%;
    z-index: 6;
}

.infografico .titulo-bola.bola1 .titulo-borda{
    border: 2px solid #fffffb;
    margin-top: calc(var(--tamanho)*(-8));
    margin-left: calc(var(--tamanho)*(-2));
}

.infografico .titulo-bola.bola3, .infografico .titulo-bola.titulo-bola.bola3 .titulo-borda{
    position: relative;
    width: calc(var(--tamanho)*11);
    height:  calc(var(--tamanho)*11);
    border-radius: 50%;
    top: calc(var(--tamanho)*(-11));
    left: calc(var(--tamanho)*(20));
}

.infografico .titulo-bola.titulo-bola.bola3 .titulo-borda{
    border: 2px solid #fffffb;
    top: calc(var(--tamanho)*(-9));
    left: calc(var(--tamanho)*(-0.1));

}

.infografico .titulo-bola.bola2, .infografico .titulo-bola.titulo-bola.bola2 .titulo-borda{
    position: relative;
    width:  calc(var(--tamanho)*10);
    height:  calc(var(--tamanho)*10);
    border-radius: 50%;
    top: calc(var(--tamanho)*(-5));
    left: calc(var(--tamanho)*(11));
}

.infografico .titulo-bola.titulo-bola.bola2 .titulo-borda{
    border: 2px solid #fffffb;
    top: calc(var(--tamanho)*(-8));
    left:calc(var(--tamanho)*(-1));
}


.ligacao{
    position: absolute;
    z-index: 0;
    background-color: #fdc13c;
    width: calc(var(--tamanho)*1);
    content: "";
}

.l1{
    height: calc(var(--tamanho)*15);
    transform: rotate(-45deg);
    /* margin-top: -35%;
    margin-left: 25%; */
    top: calc(var(--tamanho)*(8));
    left: calc(var(--tamanho)*(12));
}

.l2{
    height: calc(var(--tamanho)*16);
    transform: rotate(30deg);
    top: calc(var(--tamanho)*(7));
    left: calc(var(--tamanho)*(24));
}


.texto-topico{
    background-color: #ffffff;
    color: #000;
    font-size: calc(var(--tamanho));
    padding: 1em;
    padding-left: 50px;
    border-radius: 8px;
    border-bottom: 2px solid #2b5ca9;
    border-left: 2px solid #2b5ca9;
    border-right: 2px solid #2b5ca9;
}

.texto-topico li{
    list-style: none;
    margin-bottom: 1em;
}

.texto-topico li::before{
    content:"·";
    font-size:calc(var(--tamanho)*12);
    vertical-align:top;
    margin-right:calc(var(--tamanho)*0.6);
    margin-left: calc(var(--tamanho)*(-2.25));
    line-height:calc(var(--tamanho)*1.8);
}

.seta{
    width: calc(var(--tamanho)*(4));
    height: calc(var(--tamanho)*(4));
    background-color: #fff;
    padding: 0;
    margin: 0;
    content: "";
    position: absolute;
    z-index: 4;
}

.seta.s1{
    top: calc(var(--tamanho)*(12));
    left: calc(var(--tamanho)*(6));
    transform: rotate(45deg);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.seta.s2{
    width: calc(var(--tamanho)*(6));
    height: calc(var(--tamanho)*(6));
    top: calc(var(--tamanho)*(27));
    left: calc(var(--tamanho)*(15));
    transform: rotate(45deg);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.seta.s3{
    width: calc(var(--tamanho)*(4));
    height: calc(var(--tamanho)*(4));
    top: calc(var(--tamanho)*(12));
    left: calc(var(--tamanho)*(26));
    transform: rotate(45deg);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.infografico .texto-topico.t1{
    position: absolute;
    z-index: 10;
    top: calc(var(--tamanho)*(14));
    left: calc(var(--tamanho)*(1));
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.infografico .titulo-bola.bola1:hover ~ .texto-topico.t1, .infografico .titulo-bola.bola1:hover ~ .s1{
    visibility: visible;
    opacity: 1;
}

.infografico .texto-topico.t2{
    position: absolute;
    z-index: 10;
    top: calc(var(--tamanho)*(29));
    left: calc(var(--tamanho)*(1));
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.infografico .titulo-bola.bola2:hover ~ .texto-topico.t2, .infografico .titulo-bola.bola2:hover ~ .s2{
    visibility: visible;
    opacity: 1;
}


.infografico .texto-topico.t3{
    position: absolute;
    z-index: 10;
    top: calc(var(--tamanho)*(13));
    left: calc(var(--tamanho)*(1));
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.infografico .titulo-bola.bola3:hover ~ .texto-topico.t3, .infografico .titulo-bola.bola3:hover ~ .s3{
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 570px){
    .infografico{
        width: 120%;
        margin-left: -10%;
    }
    :root{
        --tamanho: 10px;
    }
    .infografico .titulo-bola{
        line-height: 1em;
    }

    .infografico .titulo-bola span, .texto-topico{
        font-size: 16px;
    }

    .infografico .titulo-bola.bola1, .infografico .titulo-bola.titulo-bola.bola1 .titulo-borda{
        width: calc(var(--tamanho)*12);
        height: calc(var(--tamanho)*12);
        left: calc(var(--tamanho)*(-1));
        top: calc(var(--tamanho)*(-0.5));
    }
    .infografico .titulo-bola.titulo-bola.bola1 .titulo-borda{
        left: calc(var(--tamanho)*(0));
        top: calc(var(--tamanho)*(-1));
    }

    .infografico .titulo-bola.bola2, .infografico .titulo-bola.titulo-bola.bola2 .titulo-borda{
        width: calc(var(--tamanho)*14);
        height: calc(var(--tamanho)*14);
        left: calc(var(--tamanho)*5);
    }
    .infografico .titulo-bola.titulo-bola.bola2 .titulo-borda{
        left: calc(var(--tamanho)*(-1));
        top: calc(var(--tamanho)*(-9));
    }

    .infografico .titulo-bola.bola3, .infografico .titulo-bola.titulo-bola.bola3 .titulo-borda{
        width: calc(var(--tamanho)*16);
        height: calc(var(--tamanho)*16);
        left: calc(var(--tamanho)*13);
    }
    .infografico .titulo-bola.titulo-bola.bola3 .titulo-borda{
        left: calc(var(--tamanho)*(-2));
        top: calc(var(--tamanho)*(-12));
    }


    .l1{
        left: calc(var(--tamanho)*(9));
        top: calc(var(--tamanho)*(10));
        transform: rotate(-20deg);
        height: calc(var(--tamanho)*(20));
    }

    .l2{
        left: calc(var(--tamanho)*(20));
        top: calc(var(--tamanho)*(10));
        height: calc(var(--tamanho)*(20));
    }

    .texto-topico{
        width: 90%;
    }

    .infografico .texto-topico.t2{
        top: calc(var(--tamanho)*(40));
    }

    .infografico .texto-topico.t3{
        top: calc(var(--tamanho)*(15));
    }
    .seta.s2{
        top: calc(var(--tamanho)*(38));
        left: calc(var(--tamanho)*(10))
    }
    .seta.s3{
        top: calc(var(--tamanho)*(10));
        left: calc(var(--tamanho)*(20));
    }
}
