.details, .show, .hide:target {
  display: none;
}

.hide:target + .show, .hide:target ~  .details {
  display: block; 
}

.menu-opcoes {
	background: #2A5CAA;
  color: #FFF;
  padding: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  border-color: #252525;
  border-radius: 1em;
}

.details {
  background: #2A5CAA;
  color:#fff;
  padding: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  border-color: #252525;      
}

.menu-opcoes a {
  color: white;  
}
