* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  background: url(https://www.todoespacoonline.com/w/wp-content/uploads/2014/07/01.png) no-repeat;
  background-size: cover;
}*/

.entire-menu {
  position: relative;/* estava absolute, relative permite movimento dos elementos subsquentes */
  padding: 20px;
  /*width: 100%;             <----- provocava rolamento lateral*/
}
.hamburguer {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  background: none;
  margin: 0 0 10px 10px;
}
.hamburguer:after, .hamburguer:before, .hamburguer span, .hamburguer label {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.hamburguer:before {
  top: 0;
}
.hamburguer:after {
  bottom: 0;
}
.hamburguer:focus {
  outline: none;
}
.hamburguer label {
  width: 100%;
  height: 100%;
  background: none;
  cursor: pointer;
  /* z-index: 90; */
  margin: -8px;
  padding-bottom: 32px;
  padding-right: 32px;
  border-radius: 12%;

}
.hamburguer span {
  top: 8px;
}
#change-hamburguer {
  display: none;
}
#change-hamburguer:checked ~ .hamburguer:before, #change-hamburguer:checked ~ .hamburguer:after {
  top: 10px;
  margin-top: -10%;
}
#change-hamburguer:checked ~ .hamburguer:before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#change-hamburguer:checked ~ .hamburguer:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#change-hamburguer:checked ~ .hamburguer span {
  opacity: 0;
}
#change-hamburguer:checked ~ .menu {
  max-height: 700px; /* estava limitado a 200px e não mostrava todas as 7 opçoes do menu*/
  margin-top: 20px;
  /* width: 80%; */
}
.menu {
  max-height: 0;
  height: auto;
  background: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 60%;
  border-radius: 2%;
}

.menu a {
  text-decoration: none;
  color: #888;
  padding: 10px; /*removi os '5px' para melhorar espaçamento entre os links*/
  display: block;
  /* text-transform: uppercase; */
}

.menu a.link-menu-atual{
  background:#ccc;
}

.mooc3 .menu a.link-menu-atual{
  background:#ddd;
}

.menu a.titulo-menu{
  text-align: center;
  width: 100%;
  font-size: large;
}

.menu-tit-col1 {
	margin-left: 50px;
  /*white-space: nowrap; /*@jlas*//*
  overflow:hidden;*/
}
.menu-tit-col1 h2 {
	text-align: left;
}

.menu-tit-col2 {
	margin-top: -57px;
}

