@import url(font-awesome.min.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url(padrao.css?ver=1.5);
@import url(fontes.css?ver=1.2);
@import url(menu-top-down.css?ver=1.2);
@import url(bt-sumario.css);
body{
	background-color: #eeeeee;
	/*background-image: url(../img/uni1/bg_mooc1.png);*/
	/*background-size: contain !important;*/
}

body:after {
	background-image: url(../img/padrao/mooc3/bg_header.png);
}

a {
	color: #FF841D;
}

.bt-avanca a{
	color: #fff;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #FF841D;
}


#header .logo,
#header .logo h4,
#header .logo h3 {
	color: #fff;
	text-shadow: 0px 0px 5px black;
	line-height: 25px;
}

/* Boas Vindas */
.boas-vindas{
	background-image: url(../img/padrao/tela01_box_text_blue2.png);
}

.caixa-texto-topo {
	background-image: url(../img/padrao/tela01_box1_orange.png);
}

.caixa-texto-topo p{
	color: #fff;
}

.caixa-texto-centro p {
	color: #fff;
}

.caixa-texto-rodape {
	background-image: url(../img/padrao/tela01_box2_orange.png);
}
.caixa-texto-rodape p {
	color: #fff;
}

@media screen and (max-width: 585px) {
	.caixa-texto-topo,
	.caixa-texto-rodape{
		background-color: #FF841D;
	}

	.caixa-texto-topo:before, .caixa-texto-rodape:before{
		background-color: #FF841D;
		border: 3px solid #FF841D;
	}

	.caixa-texto-rodape{
		background-color: #FF841D;
	}

	.caixa-texto-centro{
		/*background-image: url(../img/padrao/mooc3/bg_slide_01.jpg);*/
		background-color: #151730;
	}
}

/* Separador */
.separador {
	border-top: 2px solid #FF841D;
}

.separador .texto-separador {
	background-color: #FF841D;
	color: white;
}


.content .navegacao h3 {
	color: #fff;
	background-color: #FF841D;
}

/* Footer */
#footer{
	background-image: url(../img/padrao/mooc3/bg_footer.png);
}

.footer .bt-topo{
	background-color: #CC5E0D;
}


.footer .bt-topo:hover{
	background-color: #FF841D;
}

.footer .bt-topo a{
	color: #fff;
}

/* Navegação */
.bt-navegacao {
	background-color: #FF841D;
	color: white;
}

.bt-navegacao.desativado{
	background-color: #F7DAC4;
	color: white;
}

.botoes-navegacao input[type="radio"] + label:before{
	border: 1px solid #FF841D;
}

.botoes-navegacao input[type="radio"]:checked + label:before{
	background: #FF841D;
	color: #FFF;
	border: 2px solid #FF841D;
}


.navegacao .legenda{
	color: #FF841D;
}

.bt-avanca {
	background-color: #FF841D;
	color: white;
	/*color: #FF841D;*/
	/*background-color: #fff;*/
}

.bt-avanca a{
	color: white;
	text-decoration: none;
	border-radius: 8px;
}

.bt-navegacao:hover,
.bt-avanca a:hover{
	background-color: #CC5E0D;
	color: white;
}

.botoes-navegacao a:hover input[type="radio"] + label:before{
	/*background-color: #CC5E0D;*/
	background-color: #FF841D;
}

.bt-avanca.atividades {
	color: #FF841D;
	background-color: #151730;
	border-right: 2px solid;
	border-bottom: 2px solid;
}

.bt-avanca.atividades a {
	color: #FF841D;
}

.bt-avanca.atividades:hover a {
	color: #151730;
}

.bt-avanca.atividades:hover {
	background-color: #ff841d;
	border-color: #151730;
	color: #151730;
}


h3.texto-central{
	background-color: #2a5caa;
	background-image: url(../img/padrao/bg_slide_01.jpg);
}

h3.texto-central b{
	color: #2a5caa;
}

.fundo-claro .titulo-video,
.fundo-claro .titulo-video span{
	color: #FF841D;
	text-shadow: none;
}

.bt-download-media,
.bt-link-externo{
	background: #FF841D;
	color: rgba(255, 255, 255, 0.6);
}
.bt-download-media:hover,
.bt-link-externo:hover{
	transition: 0.3s;
	background-color: #CC5E0D;
	color: rgba(255, 255, 255, 0.9);
}

.video .downloads .bt-download-media:hover{
	background-color: #CC5E0D;
	color: rgba(255, 255, 255, 0.9);
}

.video .downloads .bt-download-media {
	background: #A84813;
	color: rgba(255, 255, 255, 0.6);
}

/* Mudanças expecificas */
.mooc3 .slideshow-container{
	background-image: url(../img/padrao/mooc3/bg_slide_dark.png);
	background-position: center;
}

.mooc3 .video {
	/*background-image: url(../img/padrao/mooc3/bg_video_01.jpg);*/
	/*background-color: #FF841D;*/
	background-image: url(../img/padrao/mooc3/bg_video_dark.png);
	background-position: center;
	background-size: cover;
}

.mooc3 .video.fundo-claro{
	background-image: url(../img/padrao/mooc3/bg_video_02.png);
	background-size: contain;
}

.mooc3 .hamburguer label{
	border: 2px solid #FF841D;
}

.mooc3 .hamburguer:after,
.mooc3 .hamburguer:before,
.mooc3 .hamburguer span{
	background: #FF841D;
}

.mooc3 .menu a.titulo-menu {
	text-align: center;
	width: 100%;
	color: #FF841D;
	font-size: large;
}

.mooc3 .menu a.link-menu-atual {
	color: #FF841D;
}

.mooc3 .menu a:hover,
.mooc3 .menu a.link-menu-atual:hover {
	background-color: #FF841D;
	color: #fff;
}

.mooc3 #change-hamburguer:checked ~ .menu{
	border: 2px solid #FF841D;
}

.mooc3 .prev, .mooc3 .next {
	color: #FF841D;
}

.mooc3 #header > .logo a {
	text-shadow: 0px 0px 5px black;
}

.mooc3 .icone-audio {
	border: 2px solid #FF841D;
}

.mooc3 .icone-pause {
	border: 2px solid #FF841D;
}

.mooc3 .icone-play:hover {
	border: 2px solid #fec13b;
}

.icone-botao-libras {
	position: fixed;
	bottom: 2%;
	left: 1%;
	padding: 1%;
	z-index: 10000000;
}

.mooc3 .audio-gif .icone-play:hover{
	border: none;
}

.mooc3 .bt-link-externo{
	background-color: #151730;
}

.mooc3 .bt-link-externo:hover{
	background-color: #2a5caa;
}

.mooc3 .border-dark-blue .subtitulo{
	background-color: #FF841D;
}


.mooc3 .audio-gif .icone-play:hover,
.mooc3 .audio-gif .icone-play img:hover,
.mooc3 .audio-gif .icone-pause img:hover{
	background-color: #FF841D;
}

.botao-referencias a button {
	border: 2px solid #FF841D;
	background-color: #FF841D;
	color: #fff;	
    border-radius: 10px;
    margin:0;
    padding: 10px 15px;	
	transition: 0.3s;
	cursor: pointer;
	font-size: 1em;
	font-family: "Affogato-Regular", sans-serif;
}

.botao-referencias a button:hover{
	background-color: #151730;
	border-color: #151730;
	color: #ff841d;
	transition: 0.3s;
  }