@import url(font-awesome.min.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url(padrao.css?ver=1.4);
@import url(fontes.css?ver=1.2);
@import url(menu-top-down.css?ver=1.2);
@import url(bt-sumario.css);
body{
	background-color: #eeeeee;
	/*background-image: url(../img/uni1/bg_mooc1.png);*/
	/*background-size: contain !important;*/
}

body:after {
	background-image: url(../img/padrao/mooc2/bg_header.png);
}

a {
	color: #E6292E;
}

.bt-avanca a{
	color: #fff;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #E6292E;
}


#header .logo,
#header .logo h4,
#header .logo h3 {
	color: #fff;
	text-shadow: 0px 0px 5px black;
	line-height: 25px;
}

/* Boas Vindas */
.boas-vindas{
	background-image: url(../img/padrao/tela01_box_text_red.png);
}

.caixa-texto-topo {
	background-image: url(../img/padrao/tela01_box1_blue.png);
}

.caixa-texto-topo p{
	color: #fff;
}

.caixa-texto-centro p {
	color: #fff;
}

.caixa-texto-rodape {
	background-image: url(../img/padrao/tela01_box2_blue.png);
}
.caixa-texto-rodape p {
	color: #fff;
}

@media screen and (max-width: 585px) {
	.caixa-texto-topo,
	.caixa-texto-rodape{
		background-color: #2A5CAA;
	}

	.caixa-texto-topo:before, .caixa-texto-rodape:before{
		background-color: #2A5CAA;
		border: 3px solid #2A5CAA;
	}

	.caixa-texto-rodape{
		background-color: #2A5CAA;
	}

	.caixa-texto-centro{
		background-image: url(../img/padrao/mooc2/bg_slide_01.jpg);
		background-color: #E6292E;
	}
}

/* Separador */
.separador {
	border-top: 2px solid #E6292E;
}

.separador .texto-separador {
	background-color: #E6292E;
	color: white;
}


.content .navegacao h3 {
	color: #fff;
	background-color: #E6292E;
}

/* Footer */
#footer{
	background-image: url(../img/padrao/mooc2/bg_footer.png);
}

.footer .bt-topo{
	background-color: #7C141E;
}


.footer .bt-topo:hover{
	background-color: #E6292E;
}

.footer .bt-topo a{
	color: #fff;
}

/* Navegação */
.bt-navegacao {
	background-color: #E6292E;
	color: white;

}

.bt-navegacao.desativado{
	background-color: #F7C1C8;
}

.botoes-navegacao input[type="radio"] + label:before{
	border: 1px solid #E6292E;
}

.botoes-navegacao input[type="radio"]:checked + label:before{
	background: #E6292E;
	color: #FFF;
	border: 1px solid #E6292E;
}


.navegacao .legenda{
	color: #E6292E;
}

.bt-avanca {
	background-color: #E6292E;
	color: white;
}

.bt-avanca a{
	color: white;
	text-decoration: none;
}

.bt-avanca:hover,
.bt-navegacao:hover,
.botoes-navegacao a:hover input[type="radio"] + label:before{
	background-color: #7C141E;
}

.bt-avanca.atividades {
	color: #E6292E;
	background-color: #fec13b;
	border-right: 2px solid;
	border-bottom: 2px solid;
}

.bt-avanca.atividades a {
	color: #E6292E;
}

.bt-avanca.atividades:hover a {
	color: #fec13b;
}

.bt-avanca.atividades:hover {
	background-color: #7C141E;
	border-color: #fff;
}

/* Mudanças expecificas */
.mooc2 .slideshow-container{
	background-image: url(../img/padrao/mooc2/bg_slide_01.jpg);
	background-color: #E6292E;
	background-position: center;
}

.mooc2 .video {
	background-image: url(../img/padrao/mooc2/bg_video_01.jpg);
	background-color: #E6292E;
}


.mooc2 .hamburguer label{
	border: 2px solid #E6292E;
}

.mooc2 .hamburguer:after,
.mooc2 .hamburguer:before,
.mooc2 .hamburguer span{
	background: #E6292E;
}

.mooc2 .menu a.titulo-menu {
	text-align: center;
	width: 100%;
	color: #E6292E;
	font-size: large;
}

.mooc2 .menu a.link-menu-atual {
	color: #E6292E;
}

.mooc2 .menu a:hover,
.mooc2 .menu a.link-menu-atual:hover {
	background-color: #E6292E;
	color: #fff;
}

.mooc2 #change-hamburguer:checked ~ .menu{
	border: 2px solid #E6292E;
}

.mooc2 .prev, .mooc2 .next {
	color: #E6292E;
}

.mooc2 #header > .logo a {
	text-shadow: 0px 0px 5px black;
}