    .icone-audio{      
        border-radius: 2em;          
        border: 2px solid #2a5caa;   
        padding-top: 1em;
        display: block;        
    }

    .icone-play img{
        border: 2px solid #fff;
        border-radius: 1em;        
        margin: auto 40%;                        
        width: 20%;
    }

    .icone-pause img{
        border: 2px solid #2a5caa;
        border-radius: 1em;        
        margin: auto 40%;                        
        width: 20%;
    }

    .icone-audio img:hover, .icone-play img:hover{
        background-color: #ebebeb;
        border: 2px solid #fec13b;
        border-radius: 1em;                
        margin: auto 40%;                        
        width: 20%;
    }

    #playerPodcast{
        width: 100%;              
    }


