    .icone-audio{
        border-radius: 8px;
        padding: 10px;
        display: block;
    }

    .icone-play{
        border: 2px solid #fff;
        display: block;
        border-radius: 8px;
        margin: auto 40%;
        width: 20%;
    }

    .icone-play img, .icone-pause img{
        position: relative;
        border-radius: 8px;
        width: 180%;
        height: 180%;
        margin-left: -35%;
        margin-top: -40%;
        margin-bottom: -50%;

    }
    .icone-pause {
        border-radius: 8px;
        margin: auto 40%;
        width: 20%;
    }

    .icone-play:hover{
        background-color: #ebebeb;
        border-radius: 8px;
        margin: auto 40%;
        width: 20%;
        cursor: pointer;
    }


    .controles-podcast{
        width: 100%;
        border-radius: 8px;
        background-color: #F1F3F4;
        border: 2px solid #F1F3F4;
    }

    .audio-gif .controles-podcast{
        margin-top: 10px;
    }

    .audio-gif .icone-audio{
        margin-bottom: 20px;
    }



    .audio-gif .icone-play,
    .audio-gif .icone-pause,
    .audio-gif .icone-play img,
    .audio-gif .icone-pause img{
        margin: 0 auto;
        width: 100%;
        display: block;
        border: none;
    }

    .audio-gif .icone-play:hover,
    .audio-gif .icone-play img:hover,
    .audio-gif .icone-pause img:hover{
        margin: 0 auto;
        width: 100%;
        opacity: 0.9;
    }

    .audio-gif .downloads {
        text-align: center;
    }

    .audio-gif .legenda {
        margin-bottom: 0px !important;
        padding: 0;
    }

