html{
    scroll-behavior: smooth;
}

.questao{
    background-color: #2a5caa;
    border-radius: 8px;
    padding: 1em 0;
    margin: 1em 0 2em 1em;
    color: #fff;
    font-size: 1.5em;
}

.titulo-questao-imagem{   
    font-family: "Musket", sans-serif;               
}

.titulo-questao-imagem img{
    height: 120px;	
	margin-right: 20px;	
    float: right;
    display: flex;
    
}

.enunciado-questao{
    text-decoration: none   ;
    background-color: #fec13b;
    color: #2a5caa;
    width: 80%;
    display: inline-block;
    margin-left: -50px;
    border-radius: 1em;
    margin-bottom: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 10px;    
}

.area-respostas{
    width: 90%;
    margin: auto;
}

.resposta-texto, .resposta-estatica{
    width: 100%;
    margin: auto;
    height: 200px;
    padding: 0.5em;
    color: #2a5caa;
    font-size: 1em;
    border-radius:8px;
    /*box-shadow: 1px 1px 3px #000;*/
    /*-moz-box-shadow: 1px 1px 3px #000;*/
    /*-webkit-box-shadow: 1px 1px 3px #000;*/
}

.resposta-texto:focus{
    outline: none;
    border: 2px solid #fec13b;
    /*box-shadow: 1px 1px 3px #fec13b;*/
    /*-moz-box-shadow: 1px 1px 3px #fec13b;*/
    /*-webkit-box-shadow: 1px 1px 3px #fec13b;*/

}

.resposta-estatica{
    background-color: #ccc;
    color: #020E36;    
    font-size: 1em;
}
.opcao-resposta input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.opcao-resposta input + label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 10px;
    border: 2px solid transparent;
    border-radius: 1em;

}

.opcao-resposta input[type=radio] + label::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px #fff;
    vertical-align: middle;

}

.opcao-resposta input:hover + label:hover{
    border: 2px solid #fff;
}

.opcao-resposta input[type=radio]:checked + label::after {
    content: '';
    background-color: #2A5CAA;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 6px;
}
.opcao-resposta input[type=radio]:checked + label::before{
    content: '';
    position: absolute;
    left: 3px;
    top: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px #2A5CAA;
    vertical-align: middle;
}

.opcao-resposta input[type=radio]:checked + label{
    background-color: #fec13b;
    color: #2A5CAA;
    font-weight: bold;
}

/* .botao-atividade button.disabled {
	pointer-events: none;
	opacity: 0.5;
} */

.botao-atividade button{
    background:#266866;
    color:#fff;
    border: 2px solid #266866;
    padding: 1em;    
    border-radius: 8px;
    font-size: 1em;
    font-family: "Musket";
    outline: none;
    letter-spacing: 0.2em;
    transition: 0.3s;
}

.botao-atividade button:hover{
    cursor: pointer;
    background-color: #fec13b;
    color: #266866;
    border: 2px solid #266866;
    font-weight: bold;
    transition: 0.3s;
}

.mensagem-alerta{
    display: none;
    background-color: #E73435;
    color: #fff;
    border: 2px solid #2a5caa;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.4em;
}

.mensagem-ok{
    display: none;
    background-color: #2a5caa;
    color: #fff;
    border: 4px solid #fec13b;
    border-radius: 0.5em;
    padding: 1em;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

.mensagem-ok a{
    background:#fff;
    color: #2a5caa;
    padding: 0.5em;
    margin-top: 200px;
    border: 1px solid #fff;
    border-radius: 8px;    
    font-family: "Affogato-Regular";
    letter-spacing: 0.2em;
    font-size: 1em;
    outline: none;    
    text-decoration: none;
}

.mensagem-ok a:hover{
    background-color: #2a5caa;
    color: #fff;
}


.area-respostas .resposta-salva{
    background-color: #ccc;
    color: #000;
    border-radius: 8px;
    padding: 20px;
}

/* MOOC5 */
.mooc5 .questao{
    background-color: #020E36;
}

.mooc5 .enunciado-questao{
    background-color: #fec13b;
    color: #020E36;
}

.mooc5 .resposta-texto{
    color: #020E36;
}

.mooc5 .resposta-texto:focus{
    border: 2px solid #fec13b;
}

.mooc5 .opcao-resposta input[type=radio]:checked + label::after {
    background-color: #020E36;
}


.mooc5 .opcao-resposta input[type=radio]:checked + label::after {
    background-color: #020E36;
}
.mooc5 .opcao-resposta input[type=radio]:checked + label::before{
    border: solid 2px #020E36;
}

.mooc5 .opcao-resposta input[type=radio]:checked + label{
    background-color: #fec13b;
    color: #020E36;
    font-weight: bold;
}


.mooc5 .botao-atividade button{
    background:#266866;
    color:#fff;
    border: 2px solid #266866;
}

.mooc5 .botao-atividade button:hover{
    background-color: #fec13b;
    color: #266866;
    border: 2px solid #266866;
}

.mooc5 .mensagem-alerta{
    background-color: #E73435;
    color: #fff;
    border: 2px solid #020E36;

}

.mooc5 .mensagem-ok{
    background-color: #020E36;
    color: #fff;
    border: 4px solid #fec13b;

}

.mensagem-ok a{
    background:#fff;
    color: #020E36;
    border: 1px solid #fff;
}

.mooc5 .mensagem-ok a:hover{
    background-color: #020E36;
    color: #fff;
}