/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 20% 40px 20%;
    /*margin-right: -4rem;*/
    /*margin-left: -4rem;*/
    margin-bottom: 40px;
}

.slideshow-container img {
    width: 100%;
    margin: 0 auto;
    border: 6px solid #fff;
    background-color: #fff;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px 16px;
    background-color: #fff;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 4px;
    user-select: none;
    text-decoration: none;
    /*border: 1px solid #fff;*/
}

.prev{
    margin-left: 5%;
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    margin-right: 5%;
}

@media screen and (max-width: 560px) {

    .prev{
        top: 40%;
        margin-left: 0;
        left: 0;
        border-radius: 0 8px 8px 0;
        padding: 8px 8px;
    }

    /* Position the "next button" to the right */
    .next {
        top: 40%;
        right: 0;
        margin-right: 0;
        border-radius: 8px 0 0 8px;
        padding: 8px 8px;
    }
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    /*color: #fff;*/
    /*background-color: #2a5caa;*/
    /*border: 1px solid #fff;*/
    opacity: 0.5;
}

/* Caption text */
.texto {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    /*position: absolute;*/
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numero-slide {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    /*position: absolute;*/
    top: 0;
}

/* The dots/bullets/indicators */
.ponto {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .ponto:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.legenda-interna{
    font-family: "Affogato-Regular";
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    margin-top: 20px;
    margin-left: 6px;
    background-color: #0000008a;
    color: #fff;
    padding: 10px;
    /*max-width: 648px;*/
}

@media screen and (max-width: 560px) {
    .legenda-interna{
        line-height: 18px;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 5px;
        color: #fff;
        padding: 0px;
        background-color: transparent;
        /*max-width: 648px;*/
    }
}