.tabela{    
    width: 100%;
    text-align: left;      
    font-weight: bold;   
    margin-top: 8em; 
    border: 0px;
    margin-bottom: 8em;
    background-color: #eeeeee;
    border-radius: 8px;
    margin-bottom: 4em;
    padding-bottom: 20px;

}
.tabela::after{
    margin-bottom: 2em;
}

.cabecalho-tabela{
    margin-left: 0.5em;
    font-size: 2em;
    font-family: "Musket-Bold";
    padding-top: 1.4em;
    line-height: 1.2em;
}

.tabela .linha-tabela{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
}
.tabela .linha-tabela:before, .tabela .linha-tabela:after{
    content: "";
    display: table;
}

.tabela .linha-tabela:after{
    clear: both;
}

.tabela .coluna1{
    width: 40%;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding: 0.5em;
    border: 0px;
    background-color: #ccc;
    position: relative;
    float: left;
}

.tabela .coluna1 p{
    font-family: "Musket-Bold";
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translate(0, -50%);*/

}

.tabela .coluna2{
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 0px;
    float: right;    
    background-color: #fff;    
}

.tabela .coluna2 p{
    min-height: 8vh;
    font-family: "Musket";
    font-size: 1.2em;
    font-weight: normal;        
}

.tabela .cabecalho-tabela .imagem-tabela{
    position: relative;
    float: right;
    Width: 10vw;
    height: 10vw;
    margin-top: -4em;
    margin-right: -3vw;
}

@media screen and (max-width: 512px){
    .tabela .cabecalho-tabela .imagem-tabela{        
        Width: 20vw;
        height: 20vw;        
    }
}

@media screen and (max-width: 810px){
    .tabela .cabecalho-tabela .imagem-tabela{        
        Width: 15vw;
        height: 15vw;        
    }
}
@media screen and (max-width: 585px) {
   
    .tabela .linha-tabela p {
        font-size: 1em;
        line-height: 1.4em;
    }
    .tabela .cabecalho-tabela{
        font-size: 1.4em;
    }
}
