   
.bt-desativado, .bt-desativado:hover{
	color: #cccccc;
	background-color: #dddddd;
	border-right: 2px solid;
	border-bottom: 2px solid;	
}
.bt-desativado a{
	pointer-events: none;
}

.mensagem-flutuante{	
	font-size: 1.2em;
	position: absolute;
	width: 70%;
	margin-top:-5em;
	left: 15%;
	display: none; 
	padding: 1em;
	border-radius: 8px;	
}

.mensagem-flutuante.incompleta{
    background-color:#eee;
	color: #111;
	border: 2px solid #ddd;
}

.mensagem-flutuante.completa{
    color: #2a5caa;
	background-color: #fec13b;
	border: 2px solid #2a5caa;
}
