   
.bt-desativado, .bt-desativado:hover{
	color: #000;
	background-color: #bbb;
	border-right: 2px solid;
	border-bottom: 2px solid;	
}
.bt-desativado a{
	pointer-events: none;
}

.mensagem-flutuante{	
	font-size: 1.2em;
	position: absolute;
	width: 90%;		
	margin-top:-6em;
	left: 5%;	
	display: none; 
	padding: 1em;
	border-radius: 8px;	
}

.mensagem-flutuante.incompleta{
    background-color:#bbb;
	color: #000;
	border: 2px solid #000;
}

.mensagem-flutuante.completa{
    color: #2a5caa;
	background-color: #fec13b;
	border: 2px solid #2a5caa;
}
