.libras .row > * {
    padding: 0 0 0 0;
}

.libras .buttons .bt-download-media{
    padding: 10px 20px;
    font-size: 15px;
    line-height: 15px;
}

.libras .downloads .bt-download-media{
    background-color: #2a5caa;
    line-height: 15px;
}

.mooc4 .libras .downloads .bt-download-media{
    background-color: #269696;
}


#video-libras,
.video-libras,
.video-cancelar,
#video-cancelar{
    display: none;
}

.video-libras .video-player,
#video-libras .video-player {
    /* width: 100% !important; */
    /* height: 90%; */
    margin: 0 auto;
    border: 6px solid #fff;
    border-left: 0px;
}

.video-libras .video-player,
#video-libras .video-player {
    position: relative;
    padding-top: 113%; /* 80% */
    height: 0;
}

.video-libras .buttons,
#video-libras .buttons{
    display: none;
}

.rodape-video{
    text-align: center;
    padding-bottom: 30px;
}

.rodape-video .aviso{
    text-align: center;
    color: #BCD0E8;
    background-color: transparent;
}

@media screen and (max-width: 736px){
    .video-libras .video-player,
    #video-libras .video-player {
        padding-top: 113%;
    }

    .video-libras .buttons,
    #video-libras .buttons{
        display: none;
    }
    .video .row .video-player{
        margin: 0;
    }
}

.video-libras .buttons,
#video-libras .buttons {
    width: 100%;
    text-align: center;
    /*background: #BCD0E8;*/
    border-right: 5px solid #fff;
}

.libras .row div:nth-child(2) .downloads{
    text-align: right;
}

.libras .row div:nth-child(2) .downloads .aviso{
    background: transparent;
    color: #BCD0E8;
    padding: 0px;
    text-align: center;
    margin-left: 10px;
}

.libras .row div .downloads{
    text-align: left;
}

.libras .row{
    background-color: #fff;
}

.libras .row.links{
    background-color: transparent;
}

.libras .video-externo .video-player,
.libras #video-externo .video-player{
    margin: 0;
}

.libras .downloads .aviso{
    margin: 10px 0px;
    text-align: left;
    line-height: 15px;
}

.libras .row{
    margin: 0;
}


/* Audios */
.video-libras .icone-audio {
    position: relative;
    padding-top: 172%; /* 113% */
    height: 0;
    margin: 0 auto;
    border: 2px solid #2a5caa;
    width: 100%;
}

.mooc2 .video-libras .icone-audio {
    border: 2px solid #E73435;
}

.video-libras.no-border .icone-audio {
    border: 0;
    margin-top: 20px;
    padding-top: 113%; /* 113% */

}

@media screen and (max-width: 736px){
    .video-libras .icone-audio {
        margin-top: 10px;
    }

}

/*.video-libras.\33 u{*/
/*   width: 100% !important;*/

/*}*/
